@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@654&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn img{
    margin-left: 10px;
    width: 20px;
}

.btn.dark-btn{
    background: #292e8a;
    color: #fff;
}


@media(max-width: 1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn{
        padding: 12px 24px;
        
    }
}